/* html{
    width: 100vw;
    height: 100vh;
} */

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-size: cover;
    background-color: #161f3b;
    position: relative;
}
.img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.background-light {
    background-color: white;
}

.background {

    color: white;
    background: linear-gradient(to right, #161f3b, #141416) !important;
    background-size: cover;
}

.back-slider {
   display: none;
transition: all 1s linear;
   transform: translateY(-150%);
}
.back-on{
    display: flex;
    justify-content: center;
    transition: all 1s linear;
    transform: translateY(0%);
}
.slider{
    list-style-type: none;
    font-size: 2em;
}
.slider-item{
color: white;
text-decoration: none;
}
.slider li{
    font-family: inherit;
padding-top: 2em;
}



.container {
    display: none;
    cursor: pointer;
    padding-right: 1em;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}





.header {
    z-index: 500;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 1rem rgba(0, 0, 0, .2);

}

.title {
    padding-left: 1.4em;
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.2rem;
}

.menu-item {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

.list-item {
    transition: transform 0.35s;
}

.list-item:hover {
    transform: scale(1.2);
}

.nav-toggle {
    display: none;
    
}

.icons {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-right: 15px;


}

.social {
    padding-bottom: 0;
    width: 2.2rem;
}

.icons-icon {

    transition: transform 0.32s;
}

.icons-icon:hover {
    transform: scale(1.5);
}

.toggle {
    display: flex;
    width: 2.5em;
    /* margin-left: 84em; */
    right: 4em;
    cursor: pointer;
    margin-top: 10em;
    position: fixed;
    z-index: 1000;
}

@media screen and (max-width:37.5em) {
    .header {
        display: flex;
        justify-content: space-between;
    }
   .container{
    display: flex;
    flex-direction: column;
   }
  
   /* .menu-back{
display: flex;
   } */
   
    .nav-toggle {
        display: flex;
    }

    .icons,
    .menu {
        display: none;
    }

}

@media (max-width:75em) {

    .header {
        grid-template-columns: 1fr 2em 1fr 1fr 1em;
        
    }
    .menu{
        grid-column: 3/-2;
    }

    .icons {
        display: none;
    }
}
@media (max-width:56.25em){
.header{
    grid-template-columns: 1fr 1fr 1fr 1em;

}
.menu {
    grid-column: 2/-2;
}

.icons {
    display: none;
}
}

/* content */

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows:10em 1fr 1fr 1fr;
    grid-template-columns: 5em 1fr 1fr 5em ; */
}

.man {
    width:100%;
    height: auto;
}

.name {
    text-transform: uppercase;
    line-height: 1;
    margin: 0;

    font-size: 4.5em;
    font-family: 'Finger Paint', cursive;
}

.content p {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.btn {
    border: 0;
    border-radius: 6px;
    color: white;
    width: 15em;
    height: 2.5em;
    font-size: 1em;
    letter-spacing: 1px;
    /* padding: 0 1em 0 1em; */
    cursor: pointer;
    font-weight: 900;
    text-transform: capitalize;

}

.btn-color {
    background-image: linear-gradient(90deg, #ffa51d, #ff713b);
    transition: transform 0.32s;
}

.btn-color:focus,
.btn-color:hover {
    transform: scale(1.09);
    /* background-color: #f18119; */
    /* color: #404040; */
}

.col-1 {
    padding: 13em 0 5em 10em;
   /* grid-row: 3/-1;
   grid-column: 2/ span 1; */
    animation-name: moveinright;
    animation-duration: .6s;
    animation-timing-function: ease-out;
    

}

.col-2 {


    align-items: center;
    
}
.man{
animation-name: moveinup;
    animation-duration: .6s;
    animation-timing-function: ease-out;
    transition: all .2s;
}

@keyframes moveinup {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }


}

@keyframes moveinright {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.man:hover {
    transform: perspective(980px) rotateY(15deg) rotateX(15deg) rotateZ(5deg) scale3d(1, 1, 1);

}
@media (max-width:75em) {
    .man {
        padding-top: 6em;
    }

    .name {
        font-size: 4em;
    }
}


@media (max-width:56.25em){

.col-1{
    padding:10em 0 0 3em;
    
}
.man{
  padding-top: 3em;
}
}

@media screen and (max-width:37.5em) {
    .content {
        display: flex;
    }

    .toggle {
        display: none;
    }

    .name {
        font-size: 2.5rem
    }

    .col-2 {
        display: none;
    }

    .col-1 {
        padding: 12em 0 0 4em;
    }


}

/* content */




/* About */

.about {
    display: grid;
    padding: 8em 5em;
    grid-template-columns: 65% 35%;


}

.about-content {

    padding-top: 5em;
    width: 100%;
    line-height: 1.4;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.about-content p {
    padding-top: 3em;

}

.notepad {
    width: 100%;
    padding-left: 1rem;
    transition: all .2s;
}



.notepad:hover {
    transform: perspective(980px) rotateY(15deg) rotateX(15deg) rotateZ(5deg) scale3d(1, 1, 1);

}

@media (max-width:75em) {
    .about {
        padding: 4em 3em;
        grid-template-columns: 60% 40%;
    }

    .noteicon {
        padding-top: 10em;
    }

}

@media (max-width:56.25em){
    .about{
        display: flex;
    }
    .noteicon{
        position: absolute;
        z-index: 0;
        width: 20em;
        right: 6em;

    }
    .about-content{
        z-index: 1;
    }

}
@media screen and (max-width:37.5em) {
    .noteicon {
    position: absolute;
        z-index: 0;
        width: 16em;
        right: 1em;
        opacity: 0.4;
    }

    .about-content {
        padding: 0;
        grid-column: 1/-1;
        background-image: url("../src/img/Notepad.png");
    }

    .about {
        padding: 6em .5em 2em;
    }

}

/* project */

.project {
    padding: 4em 5em;
}


.project-item {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: .75rem;
    padding: 2em 0;
    width: 100%;
    justify-content: space-between;
}

.project-pic {
    width: 100%;
}

.position {
    position: relative;
}

.back {
    height: 10rem;
    width: 10rem;
    /* border-radius: 50%; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    animation: all .2s cubic-bezier(0.83, 0, 0.17, 1);
    /* height: 100%;
    width: 100%; */
    opacity: 0;
    transition: .2s ease-out;
    background-color: rgba(128, 128, 128, .8);
    ;
}

.position:hover .back {
    opacity: 1;
    height: 100%;
    width: 100%;
}

.back-content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    transition: .1s ease-in;
}

.back-icon {
    text-align: center;
    padding-right: 1.3em;
    width: 2em;
}

.back-icon_eye {
    width: 2.5em;
    padding-left: .5em;

}

.back-icon_github {
    padding-right: .5em;
    margin-bottom: .3em;
}

.back-heading {
    color: black;
}

.icon-container {

    display: inline-block;
    text-align: center;
}

@media (max-width:75em){
    .project{
        padding: 4em 3em;
    }
    .project-item{
        grid-template-columns: 1fr 1fr;
        column-gap: 2em;
        row-gap: 2em;
    }
}
@media (max-width:37.5em) {
    .project-item {
        display: flex;
        flex-direction: column;

        gap: 2em;
    }

    .project {
        padding: 4em .5em;
    }
}
/* technologies */

.technology {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4em 5em;
    /* grid-column-gap: 4em; */
}

.technology p {
    padding-right: 4.5em;
    text-align: center;
}

.showcase,
.showcase2 {
    display: flex;
    /* justify-content: space-between; */
    list-style-type: none;
    padding-top: 2em;

}

.tech-icon {
    width: 8em;
}

.npm {
    padding-top: 3.8em;
}

.man2 {
   
    padding: 4em 0em 10em 10em;
    width: 80%;

}

.man2 {
    transition: all .2s;
}

.man2:hover {
    transform: perspective(980px) rotateY(15deg) rotateX(15deg) rotateZ(5deg) scale3d(1, 1, 1);

}




@media (max-width:75em){
    .technology{
        padding: 4em 3em;
        grid-template-columns: repeat(2,1fr);
        column-gap: 0;
    }
    .tech-icon {
            width: 6em;
        }
        .man2{
            padding: 0% 0 0 4em;
        }
        .technology p{
            padding-right: 3em;
        }
}
@media (max-width:56.25em) {
    .technology {
        display: grid;
        grid-template-rows:  1fr;
        grid-template-columns: 1fr 1fr;
        padding: 4em 1em;
    }
    .tech1{
        margin: 0;
        padding: 0;
    }
    .npm{
        padding-top: 2.8em;
    }
     
      .name-technology{
        padding-left: .5em;
        font-size: 3.2rem;
        grid-row: 1;
        grid-column: 1;
      }
    .technology p{
        padding-right: 2.5em;
         }

    .man2 {
          padding: 1.5em 0 0 0 ;
          width: 100%;
    }
   .tech-icon {
       width: 5.5em;
   }
    .showcase,
    .showcase2 {
        grid-row: 2/span 1;
        grid-column: 1;
        justify-items: flex-end;
    }
    .man{
         grid-row: 1/span 1;
         grid-column: 2;
    }
}
@media (max-width:45.625em){
   .man2{
    display: none;
   }
   .technology{
    display: inline-block;
   }
   .tech1{
    width: 100%;
   }
   .tech-icon {
       width: 6em;
   }
        .name-technology {
            font-size: 3rem;
            padding-left: 0.5em;
        }

                .npm {
                    padding-top: 3em;
                }
}
@media (max-width:37.5em) {
    .man {
        display: none;
    }

    .name-technology {
        font-size: 2.4rem;
        padding-left: 0.5em;
    }
        ul {
            padding: 0;
            list-style-type: none;
        }
    .technology {
        display: flex;
        flex-wrap: wrap;
        padding:4em 0 0 0  ;
        justify-content: center;
    }
    .tech-icon{
        width: 5em;
    }
        .technology p {
           padding-right: .5rem;
        }
                .npm {
                    padding-top: 2.8em;
                }
                                .showcase,
                                .showcase2 {
                                    justify-content: center;}
                           

}

/* footer */

.footer {
    display: grid;
    grid-template-columns: 60% 30%;
    padding: 4em 10em;
    align-items: center;
}

.footer-content {

    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: 400;
}

.footer-media {
    padding: 2em 0;
    width: 100%;
}

.footer-small {
    width: 3.1em;
}
.icon{
    display: flex;
        justify-content: space-evenly;
        list-style-type: none;
}

@media (max-width:56.25em){
    .footer{
        display: grid;
        padding: 0;
        justify-content: baseline;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
    .icon{
        grid-column: 3/-1;
        padding-top: 1em;
    }
    .footer-content{
        grid-column: 1/3;
        padding-left: 1em;
    }
    
}
@media   (max-width:37.5em) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3em 0 0 0;

    }
    .icon{
        padding-left:0.3em;
    }
   .footer-icon{
    padding:0  1em 0.5em;
   }
        .footer-content{
            padding: 0;
        }
    .owner {
        padding-top: 2.5em;

    }
}
